<div class="container min-vh-100 my-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" data-aos="fade-down" data-aos-duration="2000">
            Questionnaires
          </h5>
          <hr
            class="custom-hr"
            data-aos="fade-right"
            data-aos-duration="2000"
          />
          <div class="row mb-3">
            <div class="col-md-2 my-auto ms-auto">
              Per Page:
              <select (change)="handlePageSizeChange($event)" class="p-1">
                @for(pageSize of pageSizes; track pageSize) {
                <option [value]="pageSize">
                  {{ pageSize }}
                </option>
                }
              </select>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-lg-12">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="bg-primary">
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Products</th>
                      <th scope="col">Attachments</th>
                      <th scope="col" class="text-end">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container
                      *ngIf="questionnaires.length > 0; else noData"
                    >
                      @for (questionnaire of questionnaires | paginate : { id:
                      'Questionnaires-pagination', itemsPerPage: perPage,
                      currentPage: page, totalItems: total }; track
                      questionnaire.id; let i = $index) {
                      <tr>
                        <td>
                          <span>{{ questionnaire.title }}</span>
                        </td>

                        <td>
                          <div [innerHTML]="questionnaire.description"></div>
                        </td>
                        <td>
                          <ul>
                            @for(product of questionnaire.products; track
                            product) {
                            <li class="text-wrap">
                              {{ product.title }}
                            </li>
                            }
                          </ul>
                        </td>
                        <td>
                          <ul>
                            @for(document of questionnaire.documents; track
                            document) {
                            <li class="text-wrap">
                              <a href="">{{ document.file_name }}</a>
                            </li>
                            }
                          </ul>
                        </td>
                        <td class="text-end">
                          <button
                            class="btn btn-primary btn-sm"
                            (click)="openModal(content, questionnaire)"
                          >
                            Submit Questionnaire
                          </button>
                        </td>
                      </tr>
                      }
                    </ng-container>
                    <ng-template #noData>
                      <tr>
                        <td colspan="9" class="text-center text-muted py-4">
                          <i
                            class="bi bi-emoji-frown"
                            style="font-size: 2rem"
                          ></i>
                          <div>No questionnaires available</div>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="row my-3">
            <div class="col-lg-10 text-center mx-auto">
              <pagination-controls
                id="Questionnaires-pagination"
                previousLabel="Prev"
                nextLabel="Next"
                [responsive]="true"
                (pageChange)="handlePageChange($event)"
                class="bg-success"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Submit Questionnaire: {{ currentQuestionnaire.title }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-submit-questionnaire
      [questionnaire]="currentQuestionnaire"
    ></app-submit-questionnaire>
  </div>
  <!-- <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
	</div> -->
</ng-template>
