<div class="container min-vh-100 py-4">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <nav aria-label="breadcrumb" class="w-100">
        <ol class="breadcrumb my-auto">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Quality Assurance</li>
          <li class="breadcrumb-item active" aria-current="page">
            Questionnaires
          </li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-3 my-auto">
          Per Page:
          <select (change)="handlePageSizeChange($event)" class="p-1">
            @for(pageSize of pageSizes; track pageSize) {
            <option [value]="pageSize">
              {{ pageSize }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-9 text-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-light"
              [ngbPopover]="popContent"
              [popoverTitle]="'Filter Questionnaires'"
              [autoClose]="'outside'"
            >
              <i class="bi bi-filter me-2"></i>Filter
            </button>
            <a [routerLink]="['/questionnaires/create']" class="btn btn-light">
              <i class="bi bi-database-add me-2"></i>Add
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="bg-primary">
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
                  <th scope="col">Open From</th>
                  <th scope="col">Open Until</th>
                  <th scope="col">Always Receive Submissions?</th>
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (questionnaire of questionnaires | paginate : { id:
                'Questionnaires-pagination', itemsPerPage: perPage, currentPage:
                page, totalItems: total }; track questionnaire.id; let i =
                $index) {
                <tr>
                  <td>
                    <span *ngIf="!questionnaire.isEditing">{{
                      questionnaire.title
                    }}</span>
                    <input
                      *ngIf="questionnaire.isEditing"
                      type="text"
                      class="form-control"
                      [(ngModel)]="questionnaire.title"
                      [readonly]="!questionnaire.isEditing"
                      required="true"
                    />
                  </td>

                  <td>
                    <div
                      *ngIf="!questionnaire.isEditing"
                      [innerHTML]="questionnaire.description"
                    ></div>
                    <ckeditor
                      *ngIf="questionnaire.isEditing"
                      [(ngModel)]="questionnaire.description"
                      [editor]="Editor"
                      [config]="config"
                      data="<p>Hello, world!</p>"
                    ></ckeditor>
                  </td>
                  <td>
                    <span *ngIf="!questionnaire.isEditing">{{
                      questionnaire.status
                    }}</span>
                    <select
                      *ngIf="questionnaire.isEditing"
                      class="form-control"
                      [(ngModel)]="questionnaire.status"
                      required
                    >
                      <option [value]="'open'">Open</option>
                      <option [value]="'closed'">Closed</option>
                    </select>
                  </td>
                  <td>
                    <span *ngIf="!questionnaire.isEditing">{{
                      questionnaire.open_from
                    }}</span>
                    <input
                      *ngIf="questionnaire.isEditing"
                      type="date"
                      class="form-control"
                      [(ngModel)]="questionnaire.open_from"
                      [readonly]="!questionnaire.isEditing"
                      required="true"
                    />
                  </td>
                  <td>
                    <span *ngIf="!questionnaire.isEditing">{{
                      questionnaire.open_until
                    }}</span>
                    <input
                      *ngIf="questionnaire.isEditing"
                      type="date"
                      class="form-control"
                      [(ngModel)]="questionnaire.open_until"
                      [readonly]="!questionnaire.isEditing"
                      required="true"
                    />
                  </td>
                  <td>
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="{{ questionnaire.id }}"
                        [checked]="questionnaire.is_open_forever === '1'"
                      />
                      <label
                        class="form-check-label"
                        for="{{ questionnaire.id }}"
                      >
                        {{
                          questionnaire.is_open_forever === "0"
                            ? "Always Open"
                            : "Open Until " + questionnaire.open_until
                        }}
                      </label>
                    </div>
                  </td>
                  <td class="text-end">
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Edit and Delete Button Group"
                    >
                      <button
                        *ngIf="!questionnaire.isEditing"
                        type="button"
                        class="btn btn-primary btn-sm"
                        (click)="toggleEdit(questionnaire)"
                      >
                        <i class="bi bi-pencil-square"></i>
                      </button>
                      <button
                        *ngIf="questionnaire.isEditing"
                        type="button"
                        class="btn btn-success btn-sm"
                        (click)="saveQuestionnaire(questionnaire)"
                      >
                        <i class="bi bi-check-lg"></i>
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="deleteQuestionnaire(questionnaire)"
                      >
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-lg-10 text-center mx-auto">
          <pagination-controls
            id="Questionnaires-pagination"
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
            class="bg-success"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #popContent>
  <app-dynamic-form
    [questions]="questions$ | async"
    [btnText]="'Filter'"
    [perPage]="2"
    (submitEvent)="handleFormSubmit($event)"
  ></app-dynamic-form>
</ng-template>
