<div class="card h-100">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="card-title mb-0">Products</h5>
      <button
        class="btn btn-primary btn-sm"
        (click)="addProduct(content)"
        *ngIf="!questionnaire.isEditing"
      >
        <i class="bi bi-plus"></i>
      </button>
    </div>

    <div class="row my-3">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- Check if products array has items -->
              <ng-container
                *ngIf="questionnaire.products.length > 0; else noData"
              >
                <tr *ngFor="let product of questionnaire.products">
                  <td>{{ product.code }}</td>
                  <td>{{ product.title }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="deleteQuestionnaireProduct(product)"
                      *ngIf="!questionnaire.isEditing"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>

              <!-- Template for no data display -->
              <ng-template #noData>
                <tr>
                  <td colspan="4" class="text-center text-muted py-4">
                    <i class="bi bi-emoji-frown" style="font-size: 2rem"></i>
                    <div>No products available</div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Add a Product</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
      <div class="mb-3">
        <label for="product" class="form-label">Product</label>
        <select
          id="product"
          class="form-select"
          required
          name="product"
          [(ngModel)]="productModel.product_id"
          #product="ngModel"
        >
          <option value="" disabled selected>Select a product</option>
          <option *ngFor="let product of products" [value]="product.id">
            {{ product.title }}
          </option>
        </select>
        <div *ngIf="product.invalid && product.touched" class="text-danger">
          Please select a product.
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="productForm.invalid"
      >
        Add Product
      </button>
    </form>
  </div>
</ng-template>
