<div class="container min-vh-100 ps-md-0 py-3 text-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5 py-3">
        <div class="card-body">
          <img
            src="../../../../assets/unauthorised.png"
            width="70"
            height="70"
            alt="Unauthorised"
          />
          <h3 class="card-title my-3">Unauthorized Access</h3>
          <p class="card-text">You do not have permission to view this page.</p>
          <a href="/auth/login" class="btn btn-primary gradient-button mb-2"
            >LogIn now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
