<div class="container min-vh-100 mt-5">
  <h5 class="card-title" data-aos="fade-down" data-aos-duration="2000">
    Account Setting
  </h5>
  <hr class="custom-hr" data-aos="fade-right" data-aos-duration="2000" />

  <div ngbAccordion [closeOthers]="true" class="mt-4">
    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Change Password</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
              <div class="mb-3">
                <label for="currentPassword" class="form-label"
                  >Current Password</label
                >
                <input
                  type="password"
                  id="currentPassword"
                  class="form-control"
                  formControlName="currentPassword"
                  required
                />
              </div>
              <div class="row">
                <div class="col-md-6 mb-3 position-relative">
                  <label for="newPassword" class="form-label"
                    >New Password</label
                  >
                  <input
                    [type]="showNewPassword ? 'text' : 'password'"
                    id="newPassword"
                    class="form-control"
                    formControlName="newPassword"
                    required
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary position-absolute end-0 top-0"
                    (click)="togglePasswordVisibility('new')"
                  >
                    {{ showNewPassword ? "Hide" : "Show" }}
                  </button>
                </div>
                <div class="col-md-6 mb-3 position-relative">
                  <label for="confirmPassword" class="form-label"
                    >Confirm Password</label
                  >
                  <input
                    [type]="showConfirmPassword ? 'text' : 'password'"
                    id="confirmPassword"
                    class="form-control"
                    formControlName="confirmPassword"
                    required
                  />
                  <button
                    type="button"
                    class="btn btn-outline-secondary position-absolute end-0 top-0"
                    (click)="togglePasswordVisibility('confirm')"
                  >
                    {{ showConfirmPassword ? "Hide" : "Show" }}
                  </button>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="passwordForm.invalid"
              >
                Save Password
              </button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Change Currency</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form [formGroup]="currencyForm" (ngSubmit)="onSubmitCurrency()">
              <div class="mb-3">
                <label for="currency" class="form-label"
                  >Preferred Currency</label
                >
                <select
                  class="form-select"
                  id="currency"
                  formControlName="currency"
                  required
                >
                  <option value="LSL">LSL - Lesotho Luti</option>
                  <option value="ZAR">ZAR - South Africa Rand</option>
                  <option value="USD">USD - United States Dollar</option>
                  <option value="EUR">EUR - Euro</option>
                  <option value="GBP">GBP - British Pound</option>
                  <option value="JPY">JPY - Japanese Yen</option>
                  <option value="AUD">AUD - Australian Dollar</option>
                  <option value="INR">INR - Indian Rupee</option>
                </select>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="currencyForm.invalid"
              >
                Save Currency
              </button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Two Factor Authentication</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form [formGroup]="securityForm" (ngSubmit)="onSubmitSecurity()">
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="enable2FA"
                  formControlName="enable2FA"
                />
                <label for="enable2FA" class="form-check-label"
                  >Enable Two-Factor Authentication</label
                >
              </div>
              <button type="submit" class="btn btn-primary">
                Save Settings
              </button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="true">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Account Deativation</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <button class="btn btn-danger" (click)="deactivateAccount()">
              Deactivate Account
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
