.btn-outline-secondary {
  top: 5px;
  right: 10px;
  z-index: 5;
}

.ngb-panel-title {
  font-weight: 600;
  font-size: 1.1rem;
}

.form-control {
  padding-right: 40px;
}

.ngb-accordion {
  border: none;
}

h1 {
  font-size: 1.75rem;
  font-weight: bold;
}
