<div class="container min-vh-100 py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="card main-card">
        <div class="card-body">
          <div class="row">
               <div
              class="col-lg-6 d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../../assets/synchronize.png"
                alt="key image"
                class="img-fluid"
                width="150"
                data-aos="fade-down"
                data-aos-duration="2000"
              />
            </div>
            <div class="col-lg-6">
              <h3
                class="text-start"
                data-aos="fade-down"
                data-aos-duration="2000"
              >
                Reset Password
              </h3>
              <hr
                class="custom-hr"
                data-aos="fade-right"
                data-aos-duration="2000"
              />
              <app-dynamic-form
                [questions]="questions$ | async"
                [btnText]="'Change Password'"
                (submitEvent)="handleFormSubmit($event)"
              ></app-dynamic-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
