<div class="row">
  <div class="col-lg-4">
    <!-- <div>
      <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" />
    </div> -->
    <div class="file-upload-container"
     (drop)="onDrop($event)"
     (dragover)="onDragOver($event)">
  <input type="file" id="fileInput" (change)="onFileChange($event)" accept=".xlsx, .xls" />
  <label for="fileInput" class="file-upload-label">
    <i class="bi bi-cloud-upload"></i>
    <p>Drag & drop files here or click to select</p>
  </label>
</div>

  </div>
  <div class="col-lg-8">
    <div class="table-responsive" *ngIf="excelData.length > 0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th *ngFor="let header of excelData[0]">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of excelData.slice(1)">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
          <tr>
            <td [attr.colspan]="totalColumns" class="text-end">
              <button class="btn btn-primary" (click)="uploadData()">
                 Upload Data <i class="bi bi-upload ms-2"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



