<div class="container min-vh-100 my-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" data-aos="fade-down" data-aos-duration="2000">
            Prepare a Bid for {{ tender.title }}
          </h5>
          <small class="text-muted"
            >Reference: {{ tender.reference_number }}</small
          >
          <hr
            class="custom-hr"
            data-aos="fade-right"
            data-aos-duration="2000"
          />
          <form [formGroup]="bidForm">
            <!-- Products Table -->
            <div class="table-responsive mb-4">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Product</th>
                    <th>Quantity Required</th>
                    <th>Unit Pack</th>
                    <th>Quantity Offered</th>
                    <th>Currency</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Lead Time (in weeks)</th>
                    <th>Manufacture</th>
                    <th>Country of Origin</th>
                    <th>Registration Number</th>
                    <th>Medicine Regulatory Authority</th>
                    <th>Shipment Weight</th>
                    <th>Shipment Volume</th>
                    <th>Comments</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of tender.products">
                    <!-- Checkbox Column -->
                    <td class="text-center">
                      <input
                        type="checkbox"
                        [checked]="isProductSelected(product)"
                        (change)="toggleProductSelection(product)"
                      />
                    </td>
                    <!-- Product Details -->
                    <td>{{ product.title }}</td>
                    <td class="text-center">{{ product.quantity }}</td>
                    <!-- Input Fields -->

                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [value]="product.unitPack || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'unitPack', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [value]="product.quantityOffered || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'quantityOffered', $event)
                        "
                      />
                    </td>
                    <td>
                      <select
                        class="form-select"
                        [value]="product.currency || ''"
                        [disabled]="!isProductSelected(product)"
                        (change)="
                          updateProductField(product, 'currency', $event)
                        "
                      >
                        <option value="" disabled>Select Currency</option>
                        <option
                          *ngFor="let currency of currencies"
                          [value]="currency.code"
                        >
                          {{ currency.name }} ({{ currency.code }})
                        </option>
                      </select>
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [value]="product.unitPrice || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'unitPrice', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [value]="product.totalPrice || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'totalPrice', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [value]="product.leadTime || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'leadTime', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [value]="product.manufacture || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'manufacture', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [value]="product.country || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="updateProductField(product, 'country', $event)"
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [value]="product.registrationNumber || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(
                            product,
                            'registrationNumber',
                            $event
                          )
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [value]="product.mra || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="updateProductField(product, 'mra', $event)"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [value]="product.shipmentWeight || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'shipmentWeight', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        class="form-control"
                        [value]="product.shipmentVolume || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="
                          updateProductField(product, 'shipmentVolume', $event)
                        "
                      />
                    </td>
                    <td>
                      <input
                        type="text"
                        class="form-control"
                        [value]="product.comment || ''"
                        [disabled]="!isProductSelected(product)"
                        (input)="updateProductField(product, 'comment', $event)"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Attachments section in a table -->
            <div class="form-group mt-3">
              <h6>Attachments</h6>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>File</th>
                    <th>Attachment Name</th>
                    <!-- <th>Actions</th> -->
                    <th class="text-end">
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="addAttachment()"
                      >
                        <i class="bi bi-paperclip"></i>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody formArrayName="attachments">
                  <tr
                    *ngFor="
                      let attachment of attachments.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>
                      <input
                        id="file-{{ i }}"
                        type="file"
                        class="form-control"
                        (change)="onFileChange($event, i)"
                      />
                    </td>
                    <td>
                      <input
                        id="name-{{ i }}"
                        type="text"
                        class="form-control"
                        formControlName="name"
                        placeholder="Enter attachment name"
                      />
                    </td>

                    <td>
                      <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        (click)="removeAttachment(i)"
                      >
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- File Attachment -->
            <!-- <div class="mb-4">
            <h5 class="text-primary">Attach Files</h5>
            <div *ngFor="let file of bidFiles; let i = index" class="mb-2">
              <input
                type="file"
                class="form-control"
                (change)="onFileSelected($event, i)"
              />
            </div>
            <button
              class="btn btn-outline-primary btn-sm"
              (click)="addFileInput()"
            >
              Add More Files
            </button>
          </div> -->

            <!-- Selected Products Summary -->
            <!-- <div *ngIf="selectedProducts.length > 0" class="mb-4">
            <h5 class="text-success">Selected Products</h5>
            <ul class="list-group">
              <li
                *ngFor="let product of selectedProducts"
                class="list-group-item"
              >
                {{ product.title }} - Bid Quantity: {{ product.bidQuantity }},
                Price: {{ product.bidPrice }}
              </li>
            </ul>
          </div> -->

            <!-- Submit Button -->
            <div class="text-end">
              <button
                class="btn btn-success"
                [disabled]="!bidForm.valid"
                (click)="submitBid()"
              >
                Submit Bid
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
