<div class="container min-vh-100 py-4">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <nav aria-label="breadcrumb" class="w-100">
        <ol class="breadcrumb my-auto">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Quality Assurance</li>
          <li class="breadcrumb-item active" aria-current="page">
            Pre-qualification
          </li>
        </ol>
      </nav>
      <div class="input-group">
        <span class="input-group-text bg-white">
          <i class="bi bi-search text-yellow"></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Search ..."
          aria-label="Search"
          #searchInput
          [(ngModel)]="searchText"
          (keydown.enter)="onSearch(searchText)"
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="clearSearch()"
          *ngIf="searchText"
        >
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row my-3">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="bg-primary">
                  <th scope="col">Company Name</th>
                  <th scope="col">Questionnaire</th>
                  <th scope="col">Product</th>
                  <th scope="col">Date Submitted</th>
                  <!-- <th scope="col">Status</th> -->
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="submissions.length > 0; else noData">
                  @for (submission of submissions | paginate : { id:
                  'submissions-pagination', itemsPerPage: perPage, currentPage:
                  page, totalItems: total }; track submission.id; let i =
                  $index) {
                  <tr>
                    <td>
                      <span>{{ submission.company.company_name }}</span>
                    </td>
                    <td>
                      <span>{{ submission.questionnaire.title }}</span>
                    </td>
                    <td>
                      <!-- <span>{{ submission.product.title }}</span> -->
                      <div *ngFor="let item of submission.products">
                        <span class="fw-bold">{{ item.product_name }}</span>
                        <br />
                        <span
                          class="badge"
                          [ngClass]="{
                            'bg-success':
                              item.status === 'Approved' ||
                              item.status === 'Sample Passed' ||
                              item.status === 'Qualified',
                            'bg-warning': item.status === 'Pending',
                            'bg-primary': item.status === 'Submitted',
                            'bg-danger':
                              item.status === 'Rejected' ||
                              item.status === 'Sample Failed',
                            'bg-info': item.status === 'Under Review'
                          }"
                        >
                          {{ item.status }}</span
                        >
                      </div>
                    </td>
                    <td>{{ submission.created_at }}</td>

                    <td class="text-end">
                      <button
                        class="btn btn-primary btn-sm"
                        (click)="openModal(content, submission)"
                      >
                        View Details
                      </button>
                    </td>
                  </tr>
                  }
                </ng-container>
                <ng-template #noData>
                  <tr>
                    <td colspan="9" class="text-center text-muted py-4">
                      <i class="bi bi-emoji-frown" style="font-size: 2rem"></i>
                      <div>Data not available</div>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row my-3">
        <div class="col-lg-2 me-auto">
          Per Page:
          <select (change)="handlePageSizeChange($event)" class="p-0">
            @for(pageSize of pageSizes; track pageSize) {
            <option [value]="pageSize">
              {{ pageSize }}
            </option>
            }
          </select>
        </div>
        <div class="col-lg-10 text-end ms-auto">
          <pagination-controls
            id="submissions-pagination"
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
            class="bg-success"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" *ngIf="view === 'details'">
      Submission Details: {{ selectedSubmission.id }}
    </h5>
    <h5 class="modal-title" *ngIf="view === 'approve'">
      <span class="bg-success text-white p-2">Approve:</span>
      {{ selectedSubmission.product?.title }} -
      {{ selectedSubmission.company?.company_name }}
    </h5>
    <h5 class="modal-title" *ngIf="view === 'reject'">
      <span class="bg-danger text-white p-2">Reject:</span>
      {{ selectedSubmission.product?.title }} -
      {{ selectedSubmission.company?.company_name }}
    </h5>
    <h5 class="modal-title" *ngIf="view === 'sample-passed'">
      <span class="bg-success text-white p-2">Sample Passed:</span>
      {{ selectedSubmission.product?.title }} -
      {{ selectedSubmission.company?.company_name }}
    </h5>
    <h5 class="modal-title" *ngIf="view === 'sample-failed'">
      <span class="bg-danger text-white p-2">Sample Failed:</span>
      {{ selectedSubmission.product?.title }} -
      {{ selectedSubmission.company?.company_name }}
    </h5>
    <h5 class="modal-title" *ngIf="view === 'qualified'">
      <span class="bg-success text-white p-2">Qualified:</span>
      {{ selectedSubmission.product?.title }} -
      {{ selectedSubmission.company?.company_name }}
    </h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <!-- Show submission details if view is 'details' -->
    <app-submission-details
      *ngIf="view === 'details'"
      [submissionData]="selectedSubmission"
      (selectionChanged)="handleSelectedProducts($event)"
    ></app-submission-details>

    <app-update-submission-status
      *ngIf="view !== 'details'"
      [submissionData]="selectedSubmission"
      [status]="currentStatus"
      [selectedProducts]="selectedProducts"
      (messageEvent)="receiveMessage($event)"
    ></app-update-submission-status>
  </div>

  <div class="modal-footer" *ngIf="view === 'details'">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <button
          class="btn btn-primary me-3"
          (click)="viewDetails()"
          *ngIf="view !== 'details'"
        >
          <i class="bi bi-view-list me-2"></i> View Details
        </button>
        <button
          class="btn btn-info me-3"
          (click)="onApprove()"
          *ngIf="selectedProducts.length > 0"
        >
          <i class="bi bi-check-circle me-2"></i> Approve, waiting for Sample
        </button>
        <button
          class="btn btn-primary me-3"
          (click)="onSamplePassed()"
          *ngIf="selectedProducts.length > 0"
        >
          <i class="bi bi-check-circle me-2"></i> Sample Passed
        </button>
        <button
          class="btn btn-success me-3"
          (click)="onQualified()"
          *ngIf="selectedProducts.length > 0"
        >
          <i class="bi bi-check-circle me-2"></i> Mark as Qualified
        </button>
        <button
          class="btn btn-danger"
          (click)="onReject()"
          *ngIf="selectedProducts.length > 0"
        >
          <i class="bi bi-x-circle me-2"></i> Reject
        </button>
        <button
          class="btn btn-warning"
          (click)="onSampleFailed()"
          *ngIf="selectedProducts.length > 0"
        >
          <i class="bi bi-x-circle me-2"></i> Sample Failed
        </button>
      </div>
    </div>
  </div>
</ng-template>
