<footer class="container-fluid bg-gradient text-white pt-3 pb-1">
  <div class="row">
    <div class="col-md-4 text-center text-md-start">
      <a class="text-white text-decoration-none" href="#"
        >NDSO | eProcurement</a
      >
      <p class="mt-3">© {{ currentYear }} All rights reserved.</p>
    </div>
    <div class="col-md-4 text-center">
      <a href="#" class="text-white text-decoration-none">About Us</a>
      <a href="#" class="text-white text-decoration-none mx-3">Contact</a>
      <a href="#" class="text-white text-decoration-none">Terms & Conditions</a>
    </div>
    <div class="col-md-4 text-center text-md-end">
      <a href="#" class="text-white text-decoration-none"
        ><i class="bi bi-facebook"></i
      ></a>
      <a href="#" class="text-white text-decoration-none mx-3"
        ><i class="bi bi-twitter"></i
      ></a>
      <a href="#" class="text-white text-decoration-none"
        ><i class="bi bi-instagram"></i
      ></a>
    </div>
  </div>
</footer>
