<div class="container min-vh-100 py-4">
  <div class="card">
    <div class="card-header d-flex align-items-center">
      <nav aria-label="breadcrumb" class="w-100">
        <ol class="breadcrumb my-auto">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Administration</li>
          <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
      </nav>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center">
            <!-- Filter Button (Left) -->
            <button
              type="button"
              class="btn btn-light"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
            >
              <i class="bi bi-filter me-2"></i>Filter
            </button>

            <!-- Add Button (Right) -->
            <a class="btn btn-light" routerLink="/users/create">
              <i class="bi bi-person-add me-2"></i>Add
            </a>
          </div>
        </div>
      </div>

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card border-0">
          <div class="card-body">
            <app-user-filter
              (filterChanged)="handleFilter($event)"
            ></app-user-filter>
          </div>
        </div>
      </div>

      <!-- Loading Spinner -->
      <div *ngIf="isLoading" class="text-center my-4">
        <div class="spinner-border" user="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <!-- No Data Available -->
      <div *ngIf="!isLoading && users.length === 0" class="text-center mt-4">
        <div class="alert alert-info" user="alert">
          <i class="bi bi-info-circle me-2"></i> There are no users available at
          the moment.
        </div>
      </div>

      <div class="row" *ngIf="!isLoading && users.length > 0">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr class="bg-primary">
                  <th scope="col">User</th>
                  <th scope="col">Roles</th>
                  <th scope="col">Status</th>
                  <th scope="col" class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (user of users | paginate : { id: 'users-pagination',
                itemsPerPage: perPage, currentPage: page, totalItems: total };
                track user.id; let i = $index) {
                <tr>
                  <td class="align-middle">
                    <a routerLink="/users/{{ user.id }}">
                      <div class="d-flex align-items-center">
                        <!-- Avatar -->
                        <div class="avatar me-3">
                          <img
                            [src]="
                              user.avatar || '../../../../assets/avatar.png'
                            "
                            alt="{{ user.first_name }} {{ user.last_name }}"
                            class="rounded-circle"
                          />
                        </div>

                        <!-- User Name -->
                        <div class="user-info">
                          <div class="fw-bold">
                            {{ user.first_name }} {{ user.last_name }}
                          </div>
                          <small class="text-muted">
                            {{ user.username }}
                          </small>
                        </div>
                      </div>
                    </a>
                  </td>

                  <td>
                    <ul
                      class="list-group list-group-flush list-group-numbered bg-transparent"
                    >
                      @for(role of user.roles; track role) {
                      <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-transparent"
                      >
                        {{ role }}
                        <button
                          class="btn btn-danger btn-sm"
                          (click)="selectedUser = user; removeRole(role)"
                          placement="top"
                          ngbTooltip="Remove Role"
                        >
                          <i class="bi bi-person-dash"></i>
                        </button>
                      </li>
                      }
                    </ul>
                    <!-- <button
                      class="btn btn-success btn-sm"
                      [ngbPopover]="addRole"
                      [popoverTitle]="'Add Role'"
                      [autoClose]="'outside'"
                      (click)="selectedUser = user"
                    >
                      <i class="bi bi-person-fill-up me-2"></i> Add Role
                    </button> -->
                  </td>
                  <td>
                    @if(user.status === null) {
                    <span class="badge bg-success">Active</span>
                    <br />
                    <button
                      class="btn btn-danger btn-sm m-1"
                      (click)="banUser(user)"
                    >
                      <i class="bi bi-person-lock me-2"></i> Ban User
                    </button>
                    } @if(user.status === 'banned') {
                    <span class="badge bg-danger">Banned</span>
                    <br />
                    <button
                      class="btn btn-info btn-sm m-1"
                      (click)="unBanUser(user)"
                    >
                      <i class="bi bi-person-check me-2"></i> Unlock User
                    </button>
                    }
                  </td>
                  <td class="text-end">
                    <div
                      class="btn-group"
                      role="group"
                      aria-label="Edit and Delete Button Group"
                    >
                      <a
                        type="button"
                        class="btn btn-primary btn-sm"
                        routerLink="/users/edit/{{ user.id }}"
                      >
                        <i class="bi bi-pencil-square me-1"></i> Edit User
                      </a>
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-3">
          Per Page:
          <select (change)="handlePageSizeChange($event)">
            @for(pageSize of pageSizes; track pageSize) {
            <option [value]="pageSize">
              {{ pageSize }}
            </option>
            }
          </select>
        </div>
        <div class="col-md-9 text-end">
          <pagination-controls
            id="users-pagination"
            previousLabel="Prev"
            nextLabel="Next"
            [responsive]="true"
            (pageChange)="handlePageChange($event)"
            class="bg-success"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
