<form [formGroup]="dynamicFormGroup" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div *ngFor="let field of fields" class="my-2">
      <app-dynamic-field [field]="field"></app-dynamic-field>
      <app-dynamic-error [fieldName]="field.fieldName"></app-dynamic-error>
    </div>
  </div>
  <div class="form-row mt-4">
    <div class="col-lg-6 ms-auto text-end">
      <button
        type="submit"
        class="btn btn-primary ms-1"
        [disabled]="!dynamicFormGroup.valid"
      >
        {{ btnText }} <i class="bi bi-send ms-2"></i>
      </button>
    </div>
  </div>
</form>
