<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Textarea for description -->
  <div class="form-group">
    <!-- <label for="description">Message Body</label> -->
    <ckeditor
      formControlName="message"
      id="message"
      [editor]="Editor"
      [config]="config"
      data="<p>Hello, world!</p>"
    ></ckeditor>
    <!-- <textarea id="description" class="form-control" formControlName="description" rows="4"></textarea> -->
  </div>

  <!-- Attachments section in a table -->
  <div class="form-group mt-3">
    <h6>Attachments</h6>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>File</th>
          <th>Attachment Name</th>
          <!-- <th>Actions</th> -->
          <th class="text-end">
            <button
              type="button"
              class="btn btn-primary"
              (click)="addAttachment()"
            >
              <i class="bi bi-paperclip"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody formArrayName="attachments">
        <tr
          *ngFor="let attachment of attachments.controls; let i = index"
          [formGroupName]="i"
        >
          <td>{{ i + 1 }}</td>
          <td>
            <input
              id="file-{{ i }}"
              type="file"
              class="form-control"
              (change)="onFileChange($event, i)"
            />
          </td>
          <td>
            <input
              id="name-{{ i }}"
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="Enter attachment name"
            />
          </td>

          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="removeAttachment(i)"
            >
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row my-3">
    <div class="col-lg-12 text-end">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Submit  <i class="bi bi-send ms-2"></i>
      </button>
    </div>
  </div>
</form>
